*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body{
    background-color: green;
}
.game-board{
    width: 100%;
    height: 500px;
    border-bottom:  3px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    font-size: 25px;
    margin-top: 15px;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    min-width: 30px;
}

.separator{
    padding: 0 5px;
}

#startBtn{
    font-size: 12px;
}

.btn{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.pipe{
    position: absolute;
    bottom: -10px;
    width: 80px;
    animation: pipe-animation 1.2s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 450px;
    margin: 10px;
    animation: clouds-animation 10s infinite linear;
}

.bgclouds{
    position: absolute;
    width: 100%;
    bottom: -100px;
    animation: bgclouds-animation 60s infinite linear;
}
/**
.goomba{
    position: absolute;
    width: 50px;
    right: -50px;
    bottom: -5px;
    animation: goomba-animation 1s infinite linear;
    animation-delay: 3s;
}*/


@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {
    0% {bottom: 0;}
    40% {bottom: 180px;}
    50% {bottom: 180px;}
    60% {bottom: 180px;}
    100% {bottom: 0;}

}

@keyframes clouds-animation {
    from {
        right: -570px;
    }

    to {
        right: 100%;
    }
}

@keyframes bgclouds-animation {
    from {
        right:0;
    }

    to {
        right: 100%;
    }
}
/*
@keyframes goomba-animation {
    from {
        right: 0;
    }

    to{
        right: 100%;
    }
} /*